<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/head.ejs')%>
</head>
<body>

    <section class="spacex">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><strong>SpaceX Launch Programs</strong></h1>
                </div>
                <div class="col-md-3">
                    <div class="filter">
                        <h2>Filters <span class="float-right" id="clearSelection">Clear Selection</span></h2>
                        
                        <p>Launch Year</p>
                        <ul class="filter_list" id="launch_year">
                            <% projects.uniqueYears.forEach((year, index)=>{ %>
                            <li data-value="<%=year%>"><%=year%></li>
                            <% }) %>
                        </ul>
                        <p>Successful Launch</p>
                        <ul class="filter_list" id="launch_success">
                            <li data-value="true">True</li>
                            <li data-value="false">False</li>
                        </ul>
                        <p>Successful Landing</p>
                        <ul class="filter_list" id="land_success">
                            <li data-value="true">True</li>
                            <li data-value="false">False</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="filtered_card">
                        <div class="row filteredResults">
                            <%if(error || projects.length == 0) {%>
                                <p class="error_message"><%=(error)?error:"No Projects Found"%></p>
                            <% } else { %>
                            <% projects.projects.forEach((project, index)=>{ %>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="space_card">
                                    <img src="<%=project.links.mission_patch_small%>" alt="<%=project.mission_name%>">
                                    <h2><%=project.mission_name%> #<%=project.flight_number%></h2>
                                    <h3>Mission Ids</h3>
                                    <ul class="space_list">
                                        <li>(List mission ids)</li>
                                    </ul>
                                    <p><strong>Launch Year:</strong> <%=project.launch_year%></p>
                                    <p><strong>Successful launch:</strong> <%=project.launch_success%></p>
                                    <p><strong>Successful landing:</strong> <%=(project.rocket.first_stage.cores[0].land_success)?project.rocket.first_stage.cores[0].land_success : "Not Available"%></p>
                                </div>
                            </div>
                            <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <%-include('include/copyright.ejs')%>
            </div>
        </div>
    </section>

    <%-include('include/scripts.ejs')%>

</body>
</html>